:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-size: 14px;
	
	color-scheme: dark light;
	
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
}

html, body, #app {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	margin: 0;
	justify-content: flex-start;
	align-items: stretch;
}

* {
	box-sizing: border-box;
}

#app {
	flex: 1 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
}

#chart {
	flex: 1 1;
	background-color: #191919;
	border: 1px solid #333333;
	color: #cccccc;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
}

#chart *:focus-visible {
	outline: none;
	position: relative;
}

#chart *:focus-visible:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 1px solid #999999;
	z-index: 100;
}
